.pwinput-background {
    width: inherit;
    height: 100%;
    background: #f7f7f7;
    position: fixed;
    /*login-wrapper를 웹페이지 상에서 가운데 정렬*/
    display: flex; /* Add display: flex to the parent container */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.pwinput-wrapper {
    font-family: Pretendard,'Pretendard JP','Pretendard Std',-apple-system,system-ui,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,'Apple SD Gothic Neo','Malgun Gothic','Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif;
}

.pwinput-wrapper {
    position: relative;
    background-color: white;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    height: 400px; /* 스크롤 가능한 높이 설정 */
    overflow-y: scroll; /* 세로 스크롤바 설정 */
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 : 스크롤바 숨기기 */
.pwinput-wrapper::-webkit-scrollbar {
    display: none;
}

.pwinput-header {
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pwinput-header-side {
    width: 30%;
    height: 100%;
}

.pwinput-title {
    color: #000;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0em;
    font-size: 17px;
    line-height: 24px;
}

.pwinput-cancel-btn {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    text-align: start;
    cursor: pointer;
    color: #000;
    letter-spacing: 0em;
    line-height: 24px;
    min-width: 64px;
    font-weight: 400;
    font-size: 17px;
}

.back-btn {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    flex-shrink: 0;
    font-size: 20px;
}

.pwinput-container{
    padding-top: 20px;
}

.pwinput-label {
    margin: 17px 0px 7px 0px;
    text-align: left;
}

.pwinput-label label {
    color: #888;
    font-weight: 600;
    letter-spacing: 0.0145em;
    font-size: 14px;
    line-height: 20px;
}

.pwinput-input-success {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    min-height: 50px;
    padding: 0px 12px;
    outline: none;
    background-color: transparent;
    border: 1px solid #e1e2e3;
    color: #333;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}

.pwinput-input-error {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    min-height: 50px;
    padding: 0px 12px;
    outline: none;
    background-color: transparent;
    border: 1px solid #fe415c;
    color: #333;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}

#pwinput:focus {
    border: 1px solid #36f;
}

.pwinput.success {
    display: none;
}

/*이메일 형식이 틀렸을때*/
.pwinput.error{
    color: #fe415c;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.0192em;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 8px;
    margin-top: 0px;
}

.confirm-button {
    color: #ccc;
    background-color: #f2f4f7;
    border: none;
    width: 100%;
    height: 50px;
    min-height: 50px;
    border-radius: 25px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.confirm-button.success {
    color: white;
    background-color: #36f;
    border: none;
    width: 100%;
    height: 50px;
    min-height: 50px;
    border-radius: 25px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-top: 30px;
}

.confirm-button.error {
    color: #ccc;
    background-color: #f2f4f7;
    border: none;
    width: 100%;
    height: 50px;
    min-height: 50px;
    border-radius: 25px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.pw-reset-btn {
    width: 100%;
    height: 50px;
    min-height: 50px;
    border-radius: 25px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    margin-top: 10px;
}

.pw-reset {
    color: #36f;
    font-weight: 600;
    text-align: left;
    letter-spacing: 0.0145em;
    font-size: 14px;
    line-height: 20px;
}
