.skill-wrapper {
    font-family: Pretendard Variable, Pretendard JP Variable, -apple-system, system-ui, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica, Arial, Apple SD Gothic Neo, Nanum Gothic, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;
}

.skill-background {
    width: inherit;
    height: 100%;
    background: #f7f7f7;
    position: fixed;
    /*login-wrapper를 웹페이지 상에서 가운데 정렬*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wanted-logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.skill-wrapper {
    position: relative;
    margin-top: 35px;
    background-color: white;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 10px;
    width: 400px;
    margin-top: 1.5%;
    height: 600px;
    /* 스크롤 가능한 높이 설정 */
    overflow-y: scroll;
    /* 세로 스크롤바 설정 */
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 : 스크롤바 숨기기 */
.skill-wrapper::-webkit-scrollbar {
    display: none;
}

.skill-header {
    position: relative;
    border-bottom: 1px solid #e1e2e3;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}

.step_container {
    /*ul*/
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.skill-header::after {
    content: "";
    /* 가상 요소생성 */
    position: absolute;
    bottom: 0;
    /* 선을 헤더 아래에 배치 */
    left: 0;
    width: 40%;
    /* 선의 너비를 조절 */
    height: 2px;
    /* 선의 두께를 설정 */
    background-color: #36f;
    transition: width 0.5s;
    /* 너비 변경 */
}


.header-text-em {
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 23px;
    height: 23px;
    line-height: 1em;
    border-radius: 50%;
    font-size: 14px;
    font-style: normal;
    background: #f2f4f7;
    color: #ccc;
    margin-right: 6px;
}

.header-text-active-em {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 23px;
    height: 23px;
    line-height: 1em;
    border-radius: 50%;
    margin-right: 6px;
    font-style: normal;
    background: #36f;
    color: #fff;
}

.header-text-active-span {
    display: inline-block;
    font-size: 14px;
    color: #333;
    margin-left: 4px;
    font-weight: 700;
    line-height: 23px;
}

.text-num {
    font-size: 14px;
    font-weight: 700;
    border: 1px solid transparent;
}

.header-text {
    margin-left: 0;
    color: #333;
    margin-right: auto;
    flex: none;
    height: 23px;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    display: list-item;

}

.skill-container {
    padding: 20px;
}

.skill-header-message {
    font-size: 15px;
    line-height: 1.53;
    white-space: pre-line;
    margin: 0 0 34px;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-align: left;
    font-weight: 600;
    color: #333;
}

.experience-label,
.job-label {
    margin: 17px 0px 7px 0px;
    text-align: left;
}

.experience-label label,
.job-label label {
    color: #888;
    font-weight: 600;
    letter-spacing: 0.0145em;
    font-size: 14px;
    line-height: 20px;
}

.job-select-box,
.experience-select-box {
    height: 50px;
    min-height: 50px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #e1e2e3;
    background-color: #fff;
    margin: 10px auto;
    position: relative;
}

.job,
.experience {
    padding-left: 12px;
    width: 100%;
    position: absolute;
    left: 0;
    height: 100%;
    border: none;
    background: none;
    z-index: 1;
    font-size: 16px;
    color: #333;
    font-weight: 400;
}

.job-select-message {
    font-weight: 500;
    font-size: 12px;
    color: #8a8a8a;
    margin-top: 10px;
    text-align: start;
}

.skill-next-button {
    color: #ccc;
    background-color: #f2f4f7;
    border: none;
    width: 100%;
    height: 50px;
    min-height: 50px;
    border-radius: 25px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.skill-next-button.success {
    color: white;
    background-color: #2658f6;
    border: none;
    width: 100%;
    height: 50px;
    min-height: 50px;
    border-radius: 25px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 30px;
    cursor: pointer;
}